.Instructor {
    flex: 4;
    padding: 20px;
  }
  
  .InstructorTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .InstructorAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    color: orange;
    font-size: 16px;
  }
  
  .InstructorContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .InstructorShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .InstructorUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
    background-color: rgb(231, 228, 225);
  }
  
  .InstructorShowTop {
    display: flex;
    align-items: center;
  }
  
  .InstructorShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .InstructorShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .InstructorShowUsername {
    font-weight: 600;
  }
  
  .InstructorShowUserTitle {
    font-weight: 300;
  }
  
  .InstructorShowBottom{
      margin-top: 20px;
  }
  
  .InstructorShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .InstructorShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
  }
  
  .InstructorShowIcon{
      font-size: 16px !important;
  }
  
  .InstructorShowInfoTitle{
      margin-left: 10px;
  }
  
  .InstructorUpdateTitle{
      font-size: 24px;
      font-weight: 600;
  }
  
  .InstructorUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .InstructorUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  
  .InstructorUpdateItem>label{
      margin: 10px;
      font-size: 14px;
  }
  
  .InstructorUpdateInput{
      border: none;
      margin-left: 20px;
      width: 250px;
      height: 30px;
      border-bottom: 1px solid gray;
      margin: 10px;
  }
  
  .InstructorUpdateLeft{
      padding-left: 20px;
  }
  
  .InstructorUpdateUpload{
      margin-top: 10px;
      display: flex;
      align-items: center;
  }
  
  .InstructorUpdateImg{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
  }
  
  .InstructorUpdateIcon{
      cursor: pointer;
  }
  
  .InstructorUpdateButton{
      border-radius: 5px;
      border: none;
      padding: 5px;
      width: 100px;
      height: 20;
      cursor: pointer;
      background-color: black;
      color: orange;
      font-weight: 600;
      margin-top: 30px;
      margin-left: 50px;
  }
  .makeflex{
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
  }

  .dropdown{
    width: 150px;
    height: 20px;
    font-size: 15px;
    justify-content: center;
    box-sizing: 20px;
    margin: 0 20px;
    display: block;
    margin-bottom: 10px;
  }

  .dropdownoption{
    background-color: rgb(175, 171, 171);
  }

  .dropdownoption>option:hover{
    background-color: orange;
    color: rgb(219, 215, 215);
  }

  .dropdownlable{
    margin-left: 10px;
    padding-left: 15px;
    font-size: small;
  }

  .birthday{
    display: block;
    margin-left: 20px;
  }

  .makeblock{
    display: block;
    margin-top: 5px;
    font-size: 10px;
    margin-right: 90px;
  }